/* header : header [ layout ] */
header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    position: relative;
    color: var(--clr-main);
    min-height: 100vh;
    width: 100%;
    transition: 0.5s all ease-in;

    background-image:url(img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;

    background: var(--bk-artc);
}
header .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
}
header .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 4;
}
header .title {
    font-size: calc(var(--sz-title) / 1.5);
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    padding-top: var(--sm);
}
header .tag {
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .text {
    /* color: var(--sub); */
    line-height: 1.6;
    text-align: center;
    padding-left: var(--md);
    padding-right: var(--md);
    padding-bottom: var(--md);
}
header i {
    font-size: var(--sz-icon);
}
header button {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 50px;
    width: 70px;
    background: transparent;
    border: 3px solid var(--clr-main);
    border-radius: 10px;
    color: var(--clr-main);
    font-size: var(--sz-txt);
    padding: 0;
    z-index: 200;
    transition: 0.2s all ease-in;
}

/* nav : nav [ layout ]  */
nav {
    position: absolute;
    top: -100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    background: var(--clr-main);
    transition: 0.5s all ease;
    z-index: 1;
}
nav a {
    color: var(--alt);
    font-size: var(--sz-txt);
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: none;
}
nav i {
    padding-right: 20px;
    font-size: calc(var(--sz-icon) / 1.3);
}
nav ul {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
nav ul li {
    list-style-type: none;
    font-family: var(--font-main);
}